<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Epic Task</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="container">

    <h1 class="title is-1">Epic Task</h1>

    <h2 class="title">Acessar o sistema</h2>

    <a href="/oauth2/authorization/github" class="button is-default is-medium">
        <span class="icon is-small">
          <i class="fab fa-github"></i>
        </span>
        <span>Acessar com GitHub</span>
    </a>

    <a href="/oauth2/authorization/google" class="button is-link is-medium">
        <span class="icon is-small">
          <i class="fab fa-google"></i>
        </span>
        <span>Acessar com Google</span>
    </a>




</body>
</html>